.issueTrash {
  background: rgb(237, 237, 237, 0.4);
  border: 0.5px solid rgb(182, 182, 182);
  transition: 0.3s;
}

.issueTrash:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.issueTrash .issue-info {
  padding: 1rem;
  font-weight: bold;
  width: fit-content;
  width: fit-content;
  color: #b4b4b4;
}

.time {
  font-size: 20px;
  font-weight: 300 !important;
}

.issueTrash .priority-red {
  color: #ffacac !important;
}

.issueTrash .priority-green {
  color: #8fcfb4 !important;
}

.issueTrash .priority-yellow {
  color: #ead99d !important;
}

.issueTrash .priority-purple {
  color: #ac8ec3 !important;
}

.issueTrash .priority-none {
  color: #b4b4b4 !important;
}

.delete-button {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.delete-button img {
  height: 2rem;
  margin-right: 0.5rem;
}
