@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-VariableFont_wght.ttf");
}

* {
  font-family: "Lexend";
}

.main-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  min-height: 100vh;
  width: calc(100vw - 17px);
}

.issue-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70vw;
  align-items: center;
  margin: 1rem 0rem;
}
