.pagination {
  height: fit-content;
}

.pagination__container {
  margin-top: 2rem;
  margin-bottom: 5.5rem;
}

.pagination-button {
  border: none;
  margin: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
}

.current-page {
  margin: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.prev {
  margin-left: -4rem;
}

.next {
  margin-right: -4rem;
}

