.search-bar__container {
  display: flex;
  justify-content: flex-start;
  width: 70vw;
  gap: 1.5rem;
  height: fit-content;
  margin-top: 2rem;
}

.search-bar {
  height: 3rem;
  width: 30rem;
  padding: 1rem;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.priority-dropdown {
  height: 3rem;
  width: fit-content;
  padding: 0 0.5rem;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  border-right: 0.5rem solid transparent;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
