.bodyContent {
  display: flex;
  background-image: url("/assets/backgrounds/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.aside-content {
  width: fit-content;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.background-image {
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}

.form-container {
  height: 100vh;
  background: rgb(255, 45, 45);
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  width: 30vw;
  min-width: fit-content;
}

.login-form {
  width: fit-content;
  padding: 4vh;
  background: transparent;
  font-size: 20px;
}

.input-container {
  margin: 3vh 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.input-container input {
  font-size: 20px;
  padding: 0 0.5rem;
  background: white;
  border: none;
}

.button-container {
  display: flex;
  justify-content: end;
}

.login-button {
  font-size: 20px;
  padding: 0.5vh 1.5vw;
  background: white;
  font-weight: bold;
  transition: 0.25s;
  transform: skew(-20deg);
  margin-right: 0.5vw;
  border: none;
}

.login-button:hover {
  background: black;
  color: white;
  transition: 0.25s;
}

.button-text {
  transform: skew(20deg);
}

.login-footer {
  height: 5rem;
  background: black;
  align-items: center;
  display: flex;
}

.login-footer img {
  padding-right: 3vw;
}

.heading-container {
  border-left: 5px solid white;
}

.login-heading {
  margin-left: 1vw;
  font-size: 30px;
  font-weight: bold;
}
